body {
    border: 0;
    background-color: #fafafa !important;
}

.here {
    outline: 1px dashed red;
}

.here1 {
    outline: 1px dashed blue;
}

.here2 {
    outline: 1px dashed magenta;
}

.card {
    max-width: 320px;
}

.card:not(:last-child) {
    margin-right: 0.5rem;
}

.fw-500 {
    font-weight: 500;
}